on:
  push:
    branches:
      - master
  pull_request:

name: Run unit tests

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "Ubuntu Latest GCC, coverage enabled", 
            os: ubuntu-latest,
            cov: true
          }
        - {
            name: "macOS Latest Clang", 
            os: macos-latest,
            cov: false
          }

    steps:
    - uses: actions/checkout@v4

    - name: Get latest CMake
      uses: lukka/get-cmake@latest

    - name: Configure the build with coverage
      if: ${{ matrix.config.cov }}
      run: cmake -S . -B build -DCODE_COVERAGE=ON

    - name: Configure the build with custom parallelization
      if: ${{ ! matrix.config.cov }}
      run: cmake -S . -B build

    - name: Run the build
      run: cmake --build build

    - name: Run the tests
      run: |
        cd build
        ctest --rerun-failed --output-on-failure

    - name: Generate code coverage
      if: ${{ matrix.config.cov }}
      run: |
        cd build/tests/CMakeFiles/
        find -type f -name "*.gcno" -execdir gcov -abcfu {} +

    - name: Upload to Codecov
      if: ${{ matrix.config.cov }}
      uses: codecov/codecov-action@v4
      with:
        directory: build/tests/CMakeFiles/
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
